.container {
    font-family: 'Abhaya Libre', serif;
    width: 390px;
    height: 844px;

    background: linear-gradient(
        115.34deg,
        rgba(90, 157, 236, 0.86) 4.73%,
        rgba(100, 159, 235, 0.78) 22.35%,
        rgba(110, 90, 236, 0.46) 69.21%,
        rgba(237, 193, 222, 0.72) 99.96%,
        rgba(90, 157, 236, 0) 100%
    );

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .formBox {
    width: 311px;
    height: 759px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .formBox > div:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.container .formBox > div:nth-child(2) {
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 60px;
}

.container .formBox > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .formBox > form > label {
    display: flex;
    flex-direction: column;
    width: 245px;
    font-size: 20px;
    margin-bottom: 34px;
}

.container .formBox > form > label > input {
    border: none;
    font-size: 18px;
    border-bottom: 3px solid #a3caf9;
    margin-top: 5px;
}

.container .formBox > form > label > input:focus {
    outline: none;
}

.container .formBox > form .radioBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container .formBox > form .radioBox .genderLabel {
    border: 1px solid #d0d0d0;
    opacity: 0.8;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.container .formBox > form .radioBox .genderLabel:first-of-type {
    border-radius: 10px 0 0 10px;
}

.container .formBox > form .radioBox .genderLabel:last-of-type {
    border-radius: 0 10px 10px 0;
}

.container .formBox > form .radioBox .genderLabel .genderInput {
    visibility: hidden;
}

.container .formBox > form .radioBox .genderLabel:has(.genderInput:checked) {
    border: 2px solid #5665ed;
    color: #5665ed;
    font-weight: bold;
    opacity: 1;
}

.container .formBox > form .nextBtn {
    margin-top: 10px;
    border: none;
    background: #bad1ff;
    border-radius: 10px;
    width: 200px;
    height: 38px;
    font-size: 18px;
    font-weight: 400;
}

.container .formBox > form .nextBtn > div {
    position: absolute;
    width: 200px;
    height: 38px;
    transform: translate(-3%, -25%) rotate(2deg);
    border-radius: 10px;
    border: 1px solid #5665ed;
}

.container .formBox .prevBtn {
    position: fixed;
    top: 75px;
    left: 65px;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #5665ed;
}
